/* anything related to navbar */
/* Set the background color to white */
.navbar.navbar-light.bg-light {
    background-color: white !important;

}

.navbar-brand {
    justify-content: center;
    font-weight: 500;
    font-size: 1.5em;
    letter-spacing: 0.20em;
}

.navbar {
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.150);
}

.navbar-nav .nav-item {
    margin-right: 20px;
    /* Add space between each pair of navigation items */
}

.nav-link {
    font-weight: 300;
    font-size: 0.85em;
    letter-spacing: 0.20em;
}

/* footer */
footer p {
    font-weight: 300;
    font-size: 0.85em;
    letter-spacing: 0.20em;
    opacity: 0.5;
}

/* related to navbar too */
/* to hide the icons when we click the toggler */
@media (max-width: 991.98px) {

    .bi:not(.collapsed) {
        display: none;
    }
}

/* drop down button styling */
.dropdown .btn {
    font-weight: 300;
    font-size: 0.85em;
    letter-spacing: 0.20em;
    border-radius: 50px;
    color: rgb(0, 0, 0);
    border-color: rgba(0, 0, 0, 0.150);
    background-color: white;
}

.tittle_conatiner h3 {
    font-family: 'Nunito', sans-serif;  
   text-align: center;

}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}



.product_info .form-control {
  display: inline-block;
  border: 1px solid;
  margin-top: 6px;
  margin-bottom: 6px;
  
 
}
.product_info .form-select {
  display: inline-block;
  border: 1px solid;
  margin-top: 6px;
  margin-bottom: 6px;
 
}
.product_info textarea {
    outline: none;
    resize: none;

}

.product_info .form-label {
    font-family: 'Nunito', sans-serif;
    
}

.Image_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 240x;
    border: 1px solid;
    border-radius: 8px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
   

}

.Image_container .icon  {
    font-size: 100px;


}

.Select_Image_button {
    display: block;
    color: aliceblue;
    background-color: black;
    width: 100%;
    height: 10x;
    border-radius: 8px;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    cursor: pointer;
}

.Select_Image_button:hover {
    background-color: rgb(62, 62, 64);
}

.Add_product_button {
    display: flex;
    justify-content: center;
    color: aliceblue;
    background-color: black;
    width: 100%;
    height: 10x;
    border:none ;
    border-radius: 8px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-bottom: 20px;
    cursor: pointer;
    

}
.Add_product_button:hover {
    background-color: rgb(62, 62, 64);
}